@import '_mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

.lock-scroll {
    overflow: hidden !important;
}
h2 { font-size: 32px;font-weight: normal; }

.fa-search{
    font-size: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #f44242;
        transform: translateY(0px);
    }
}

#modal-root {
    position: relative;
    z-index: 999;
    
    .modal {
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        
        .close-modal {
            position: absolute;
            right:40px;
            top:40px;
            z-index: 1;
            background: none;
            border: none;
            color:#fff;

            .fa-times{
                font-size: 24px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: #f44242;
                    transform: translateY(0px);
                }
            }
        }
    }

  }

#search {
    width: 100%;
    overflow-x: auto;
    height: 100%;

    .search-form {
        position: relative;
        margin-top: 20px;
        padding: 40px;
        
        .search-label {
            color:#666;
            position: absolute;
            top:60px;
            .fa-search {
                font-size: 32px;
            }
        }
        .search-input {
            font-size: 36px;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid #666;
            box-sizing: border-box;
            color: #fff;
            display: inline-block;
            font-family: Open Sans Semi-Bold,sans-serif;
            outline: none;
            padding: 8px 40px;
            vertical-align: middle;
            width: 100%;
        }
    }
    
    .search-promo{
        padding: 40px;
        position: relative;
        width: 100%;
        display: flex;

        .movies {
            display: flex;
            flex-wrap: wrap;
            align-items: left;
            justify-content: left;
        }
    
        .strip {
            
            .item {
                flex-wrap: wrap;
                margin: 5px 0 0 5px;   
            }
        }
    }
}

#app-root{
    height:100%;

    #container {
        display: flex;  
        flex-direction: column;
        min-height:100%;

        .header {
            height: 60px;
            width: 100%;
            position: absolute;
            box-sizing: inherit;
            color: #fff;
            background: linear-gradient(rgba(0, 0, 0, .3), rgba(255, 0, 0, 0.1));
            transition: background-color .25s ease, height .35s ease;

            &.fixed{
                position: fixed;
                background-color: #06000a;
            }

            .logo{
                position: absolute;
                top:10px;
                left: 30px;
                font-size: 28px;
            }

            .modal-trigger {
                position: absolute;
                right:20px;
                top:20px;
                background: none;
                border: none;
                color:#fff;
            }
        }

        .main {
            display: flex;  
            flex-direction: column;
            flex-grow:1;
            background-color:#06000a;
            
            .promo{
                height: 640px;
                background: 
                linear-gradient(rgba(0, 0, 0, .3), rgba(255, 0, 0, .2)),
                url('./br-bg.jpg');
                background-size: contain, cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        
        .footer {
            background: rgba(0, 0, 0, .9);
            height: 200px;;
        }

    }
}
.content {
    padding: 40px;
}

.strip {
    margin-bottom: 50px;

    h2 {
        margin: 10px 0 20px 0;
        color: #fff;
    }
    
    .item {
        position: relative;
        transition: all 0.3s ease-in-out;
        width: 16%;

        @include sm {
            width: 33.3333%;
        }

        @include lg {
            width: 22%;
            margin: 0 !important;
        }

        @include rwd(1200) {
            width: 17.8%;
            margin-bottom: 8px !important;
        }

        @include rwd(1600) {
            width: 14.2%;
            margin-bottom: 20px !important;
        }

        @include rwd(1900) {
            width: 11.1%;
            margin-bottom: 2px !important;
        }

        &:hover {
            cursor: pointer;
            transform: translateY(0px);
        }

        .poster {
            width:200px;
            height:300px;
        }
    }  
}


